/*tag selectors*/


body {
    font-family: 'Oswald', sans-serif;
}

p {
    color: grey;
}

h2 {
    font-size: 2.5rem;
}

/*class selectors*/

.btn {
    margin-right: 1rem;
}
.bottom-button{
   
    margin: 0 1.5%;
}
.carousel-item {
    padding: 7% 14%;
}

.container-fluid {
    padding: 3% 12%;
}

.coli {
    margin: 3rem auto;
}

.copyright{
    text-align: center;
    margin-bottom: 0;
}
.cta-text{
    font-size: 5rem;
    padding-bottom: 4%;
}

.dog-img {
    width: 10%;
    border-radius: 100%;
}

.features {

    font-size: 2.5rem;
    position: relative;
    z-index: 1;
}

.feature-icon {
    padding: 0 auto;
    color: #ff7979;
    text-align: center;
    font-size: 6rem;
}

.feature-icon:hover {
    color: #f64d4d;
}

.icon-container {
    text-align: center;
    margin: 3rem auto;
}

.media-icons{
    text-align: center;
    padding-top: 4%;
    padding-bottom: 1%;
   
}
.fa-icons{
    padding: 0% 1%;
}

.mycol {
    padding: 3%;

}

.navbar {
    padding-bottom: 5%;
    font-size: 1.25rem;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.navbar-brand {
    font-family: 'ubuntu', sans-serif;
}

.nav-item {
    padding: 0px 18px;
}

.press-img {
    width: 15%;
}

.pricing-title {
    font-size: 4rem;
}

.plan-name {
    font-size: 2.5rem;
}

.plan-price {
    font-size: 3.3rem;
    padding-bottom: 2%;
}

.plan-features {
    font-size: 1.25rem;
}

.iphone {
    width: 55%;
    transform: rotate(30deg);
    margin-left: 6rem;
    position: absolute
}

.iphone-div {
    position: relative;
    z-index: 1;
    margin-bottom: 570px;
}


/* id selectors*/

#features {
    padding: 7% 8%;
    position: relative;
    background-color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

#title {
    background-color: #ff4c68;
}

#title_tag {

    line-height: 1.5;
    font-size: 5rem;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
}

#tindog {
    font-size: 1.8rem;
}

#testimonials {
    background-color: #ff7979;

    text-align: center;
    color: white;
}

#press {
    background-color: #ff7979;
    text-align: center;
    padding-bottom: 7%;
    font-size: 4rem;
}

#pricing {
    text-align: center;
    padding: 7% 8%;
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    color: white;
    padding: 10% 7%;
}

.copyright{
    text-align: center;
    padding-bottom: 1.5%;
}





@media (max-width:1160px){
    .iphone{
        position: static;
        transform: rotate(0deg);
        margin:auto;
        width: 55%;
    }
    .iphone-div{
        margin-bottom: 80px;
        padding-top: 80px;
        text-align: center;
    }
    
    .full-title{
        text-align: center;
    }
    .nav-item{
        padding-left: 0;
    }

}